footer{
    @include flex(flex, column, center, center);
    padding: 30px;
    gap: 30px;
    background-color: hsla(201, 11%, 66%,.2);
    width: 100%;
    margin-top: 150px;
    .logo{
        width: 50px;
    }
    .social{
    @include flex(flex, row, center, center);
    gap: 35px;
    }
    h4{
        font-weight: 400;
        font-size: 1.2em;
        color: var(--Dark-Grayish-Blue);
    }
    .sect1{
        
        display: flex;
        flex-direction: column;
        gap: 25px;
        
    }
    .sect2{
        
        display: flex;
        flex-direction: column;
        gap: 25px;
        
    }
}

