/* <-------------responsive <600px--------------> */
@media only screen and (min-width:600px){
    body{
        background: url(../images/bg-header-desktop.png) no-repeat top right;
    }
    header{
        .buttons{
            flex-direction: row;
            width: 60%;
        }
    }
    main{
        .contain{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 45px;
            img{    
              margin-left: -50px;
              width: 500px;
              height: 500px;
            }
            .details{
            margin-top: 50px;
             text-align: left;
            }
            
        }
        .contain-icons{
          display: grid;
          grid-template-columns: repeat(3,1fr);
          gap: 25px;
          padding: 25px;
        }
        .bottom{

            .buttons{
                   flex-direction: row;
                   width: 60%;
                   gap: 20px;
           }
        }
    .companies{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    }

    footer{
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        .sect3{
          margin-top: -45px;
        } 
    }
}